$font-primary: 'Quicksand', Arial, sans-serif;
$font-secondary: 'Playfair Display', Georgia, serif;

$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;

$primary: #2c98f0 !default;
$footer: #2c2c2c !default;

$color-1: #2c98f0 !default;
$color-2: #ec5453 !default;
$color-3: #f9bf3f !default;
$color-4: #a84cb8 !default;
$color-5: #2fa499 !default;
$color-6: #4054b2 !default;

$white: #fff;
$black: #000;
$darker: #444;
$gray: #f2f3f7;
$lighter: #e9e9e9;
$body-color: #e8e8e8;
$selection-color: #f9f6f0;
$overlay-color: #3b3d40;
$bg-color: $white;

$input-border-focus: $primary !default;
$form-group-margin-bottom: 30px !default;
